<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{board/layout/basic}">
<!-- layout:decorator="board/layout/basic"> <- 이따구로 옛날방식 썼다간 잣됨. -->

<!-- header.html 안에 있는 title 사용 -->
<th:block layout:fragment="title">
  <title>List</title>
</th:block>

<!-- body.html 안에 있는 search 영역에 내용 추가 -->
<th:block layout:fragment="search">
  <form action="#" id="searchform-header" class="searchform js__toggle active pull-right">
    <input type="search" placeholder="Search..." class="input-search">
    <button class="mdi mdi-magnify button-search" type="submit">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </form>
</th:block>

<th:block layout:fragment="content">
  <div class="table-responsive clearfix">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록일</th>
        <th>조회 수</th>
      </tr>
      </thead>

      <!-- th:if : if문 -->
      <!-- th:unless : else문 -->
      <tbody>
      <tr th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}">
        <!-- #strings.equals 함수를 사용해서 공지여부가 'Y'라면 "공지" 출력, 아니라면 게시물 번호 출력 -->
        <td scope="row" th:text="${#strings.equals( row.noticeYn, 'Y' ) ? '공지' : row.idx}"></td>
        <td class="text-left">
          <!-- 일반적인 GET : /board/view?idx=${idx}&page=${page} -->
          <!-- 타임리프 GET : /board/view(idx=${idx}, page=${page} -->
          <a th:href="@{/board/view( idx=${row.idx} )}" th:text="${row.title}"></a>
        </td>
        <td th:text="${row.writer}"></td>
        <!-- #temporals.format : 원하는 날짜 형태로 포맷할 수 있다. -->
        <td th:text="${#temporals.format( row.insertTime, 'yyyy-MM-dd' )}"></td>
        <td th:text="${row.viewCnt}"></td>
      </tr>
      <tr th:unless="${not #lists.isEmpty( boardList )}">
        <td colspan="5">조회된 결과가 없습니다.</td>
      </tr>
      </tbody>
    </table>

    <div class="btn_wrap text-right">
      <a th:href="@{/board/write}" class="btn btn-primary waves-effect waves-light">Write</a>
    </div>


    <th:block layout:fragment="paging">
      <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="이전">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="다음">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </th:block>
  </div>
</th:block>

<!--<head th:replace="board/fragments/header :: main-head"></head>-->
<!--<body th:replace="board/fragments/body :: main-body"></body>-->
  <!-- 이거보단 basic에 먹여서 decorate하는게 좋음 -->
</html>